@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;600&display=swap");

* {
    padding: 0;
    margin: 0;
}

.box {
    color: white;
    display: flex;
    justify-items: flex-start;
    align-items: flex-start;
    font-size: 33px;
    padding-left: 10px;
    margin-top: 10px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

.bar {
    color: white;
    font-size: 20px;
    padding-left: 70px;
    margin-top: 10px;
    display: flex;
    justify-items: center;
    align-items: center;
    word-spacing: 40px;
    cursor: pointer;
    /* font-family: "Poppins", sans-serif; */

}

.box button {
    color: blue;
    border-radius: 30px;
    border-style: none;
    width: 8%;
    height: 40px;
    word-spacing: 3px;
    text-align: center;
    cursor: pointer;
    margin-top: 3px;
    margin-left: 20px;
    font-size: 14px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
}

.join {
    background-color: rgb(138, 138, 239);
}

.content {
    color: white;
    font-size: 54px;
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-items: center;
    align-items: center;
    margin-left: 42px;
    margin-top: 30px;
    line-height: 1.6;
    font-weight: 600;
    margin-right: 45px;
}

.contentn {
    color: white;
    font-size: 54px;
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-items: center;
    align-items: center;
    margin-left: 200px;
    line-height: 1.6;
    font-weight: 600;
    margin-right: 20px;
}


.but .but01 {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 150px;
    width: 50%;
    left: 26%;
    height: 45px;
    font-size: 16px;
    border-style: none;
    text-align: center;
    position: absolute;
    top: 50%;
    padding-top: 13px;
    cursor: pointer;
    word-spacing: 7px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;

}


.but .but02 {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 150px;
    width: 50%;
    left: 26%;
    height: 45px;
    font-size: 16px;
    border-style: none;
    text-align: center;
    position: absolute;
    top: 59%;
    padding-top: 13px;
    cursor: pointer;
    word-spacing: 7px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;

}

.but .but03 {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 150px;
    width: 50%;
    left: 26%;
    height: 45px;
    font-size: 16px;
    border-style: none;
    text-align: center;
    position: absolute;
    top: 68%;
    padding-top: 13px;
    cursor: pointer;
    word-spacing: 7px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;

}

.but01:hover {
    background-color: rgb(176, 213, 213);
}

.but02:hover {
    background-color: rgb(176, 213, 213);
}

.but03:hover {
    background-color: rgb(176, 213, 213);
}

.box button:hover {
    background-color: rgb(176, 213, 213);
    ;
}

.bg {
    background-image: url("newone01.jpg");
    /* background-color: black; */
    height: 100vh;
    background-size: cover;
    border: 2px solid rgb(13, 43, 43);
    opacity: 1.99;

}

.useragreement {
    font-size: 14px;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    margin-top: 210px;
    margin-left: 250px;
    text-decoration: underline;

}

.newto {
    font-size: 19px;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    margin-left: 515px;
    line-height: 90px;
    text-decoration: underline;

}

.second {
    height: 50vh;
}

.second h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 600px;
    margin-left: 330px;
    line-height: 90px;


}

.second button {
    height: 40px;
    width: 220px;
    text-align: center;
    border-radius: 50px;
    padding: 8px;
    margin-left: 80px;
    margin-top: 6px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    padding-bottom: 20px;
    border-style: none;
    cursor: pointer;
    margin-bottom: 7px;


}

.second button:hover {
    background-color: rgb(176, 213, 213);

}

.post h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    margin-left: 330px;
    line-height: 90px;

}

.post {
    background-color: rgb(219, 216, 212);
    height: 80vh;
}

.post button {
    height: 40px;
    width: 190px;
    text-align: center;
    border-radius: 50px;
    padding: 8px;
    margin-left: 550px;
    margin-top: 6px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    padding-bottom: 20px;
    border-style: none;
    cursor: pointer;
    margin-bottom: 7px;
    color: blue;
    border: 1px solid blue;


}

.post button:hover {
    background-color: rgb(176, 213, 213);

}

.post h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    margin-left: 420px;
    line-height: 90px;
}
.post .get h2{
    margin-left: 350px;
}