@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;600&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    background: linear-gradient(135deg, #153677, #4e085f);
    width: 100%;
    min-height: 100vh;

}

.job {
    color: white;
    display: flex;
    justify-items: flex-start;
    align-items: flex-start;
    font-size: 33px;
    padding-left: 30px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

.box {
    height: 95vh;
    background-color: white;
    width: 31vw;
    margin-top: 50px;
    margin-left: 230px;
    border-radius: 10px;
}

.content {
    color: black;
    font-size: 30px;
    font-weight: 600px;
    margin-left: 20px;
    margin-top: 18px;
}

.content1 {
    color: black;
    font-size: 15px;
    margin-left: 20px;
    margin-top: 10px;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    margin-top: 15px;
    margin-bottom: 25px;
    margin-right: 10px;
}
input{
    border:1px solid gray;
    flex: 1;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
    font-weight: 600;
    font-size:15px;
    font-family:"Poppins", sans-serif; 
    word-spacing: 10px;
}
.row2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    margin-top: 15px;
    margin-bottom: 25px;
    margin-right: 10px;
}
button{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 150px;
    width: 29%;
    left: 36%;
    height: 50px;
    font-size: 16px;
    border-style: none;
    text-align: center;
    position: absolute;
    top: 52%;
    padding-top: 12px;
    cursor: pointer;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    background-color:rgb(33, 82, 188);
    color: white;
}
.more{
    text-align: center;
    color: black;
    font-size: 13px;
    margin-top:20% ;
    font-family: "Poppins", sans-serif;
    color: gray;
}
.more .but01 {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 150px;
    width: 29%;
    left: 36%;
    height: 50px;
    font-size: 13px;
    border-style: none;
    text-align: center;
    position: absolute;
    top: 70%;
    padding-top: 13px;
    cursor: pointer;
    word-spacing: 7px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    background-color:rgb(248, 237, 222);
    color: black;
    border: 1px solid grey;

}


.more .but02 {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 150px;
    width: 29%;
    left: 36%;
    height: 50px;
    font-size: 13px;
    border-style: none;
    text-align: center;
    position: absolute;
    top: 82%;
    padding-top: 13px;
    cursor: pointer;
    word-spacing: 7px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    background-color:rgb(248, 237, 222);
    color: black;
    border: 1px solid grey;

}

.more .but03 {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 150px;
    width: 29%;
    left: 36%;
    height: 50px;
    font-size: 13px;
    border-style: none;
    text-align: center;
    position: absolute;
    top: 94%;
    padding-top: 13px;
    cursor: pointer;
    word-spacing: 7px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    background-color:rgb(248, 237, 222);
    color:black;
    border: 1px solid grey;

}

.but01:hover {
    background-color: rgb(176, 213, 213);
}

.but02:hover {
    background-color: rgb(176, 213, 213);
}

.but03:hover {
    background-color: rgb(176, 213, 213);
}